.navigation-container {
  height: 40px;
  padding: 15px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.096);
  position: relative;
  display: flex;
  align-items: center;
}
.nav-logo-container {
  max-width: 100px;
}
.logo {
  width: 60%;
}
.nav-main {
  display: flex;
  margin-left: 30px;
  flex-grow: 3;
}
.navAuth {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}
.nav-link {
  font-size: 15;
  box-sizing: border-box;
  text-decoration: none;
  color: #707070;
  margin-right: 20px;
  padding-bottom: 10px;
}
.nav-link-active {
  border-bottom: 2px solid #3f51b5;
  color: #3f51b5;
}
